#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.container {
  width: 600px;
  height: 100%;
  background-color: gray;
  display: grid;
  grid-template-columns: repeat(10, 60px);
  grid-template-rows: 1fr;
}
